{% extends 'layout.html.twig' %}

{% block head %}
    <!-- Page Content -->
    <div class="bg-image" style='background-image: url("{{ asset('images/Upload/' ~ tricks.pictures.0.name ) }}");'>
        <div class="btnheader">
            {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                <a class="btn btn-sm btn-rounded btn-noborder btn-alt-danger min-width-75 img-lightbox" data-toggle="modal" data-target="#1">
                    <i class="fa fa-trash"></i>
                </a>
                <a class="btn btn-sm btn-rounded btn-noborder btn-alt-success min-width-75" href="{{ path('updateTrick', {'slug' : tricks.slug}  ) }}"><i class="fa fa-pencil"></i></a>
            {% endif %}
        </div>
        <div class="hero bg-primary-dark-op">
            <div class="hero-inner">
                <div class="content content-full text-center">
                    <h1 class="display-4 font-w700 text-white mb-10 invisible"
                        data-toggle="appear" data-class="animated fadeInDown">{{ tricks.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- END Page Content -->
{% endblock %}


 {% block content %}
     <!-- Page Content -->
     <!-- Main Container -->
     <main id="main-container">
         <!-- Page Content -->
         <div class="content">
             <div id="Display">
                 <div class="row items-push js-gallery img-fluid-100">
                     {% for picture in tricks.pictures if picture.first == false %}
                         <div class="col-md-6 col-lg-4 col-xl-3 medias" style="height: 200px">
                             <a href="{{ asset('images/Upload/' ~ picture.name ) }}">
                                 <img class="img-fluid" style="height: 190px" src="{{ asset('images/Upload/' ~ picture.name ) }}" alt="">
                             </a>
                         </div>
                     {% endfor %}

                     {% for movie in tricks.movies %}
                         <div class="col-md-6 col-lg-4 col-xl-3 medias" style="height: 200px">
                             <iframe style="height: 190px; width: 100%; min-height: 180px"
                                     src="https://www.youtube.com/embed/{{ movie.embed }}?ecver=1"
                                     frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                         </div>
                     {% endfor %}
                 </div>
             </div>

             <div>
                 <button  id="more" type="button" class="btn btn-rounded btn-noborder btn-info min-width-125 mb-10" style="display: block; margin: auto">More</button><br>
             </div>

             <h3 style="text-align: center; color: #292929">{{ tricks.description }}</h3>
             <div class="info">
                 <p class="groupInfo">
                     modification: {{ tricks.updatedAt|date("d/m/Y") }}
                 </p>
                 <p class="groupInfo">
                     création: {{ tricks.createdAt|date("d/m/Y") }}
                 </p>
                 <p class="groupInfo">
                     groupe:{{ tricks.group }}
                 </p>
             </div>
         </div>
     </main>

     <hr>
     {% if is_granted('IS_AUTHENTICATED_FULLY') %}
         {{ form_start(form) }}
         <div class="form-group row">
             <div class="col-md-8 offset-md-2 formMaterial">
                 <div class="form-material form-material-info floating">
                     {{ form_widget(form.content, {'attr': { 'class': 'form-control'}}) }}
                     <!-- <textarea class="form-control" id="material-color-info2" name="material-color-info2"></textarea> -->
                     <label for="material-color-info2">Ajouter votre message</label>
                     <button type="submit" class="col-lg-4 offset-lg-4 btn btn-alt-primary submit">Submit</button>
                 </div>
             </div>
         </div>
         {{ form_end(form) }}
     {% else %}
         <div class="form-group row">
             <div class="col-md-8 offset-md-2 text-center connection">
                 Veuillez vous <a href="">connecter</a> ou vous <a href="">inscrire</a> pour poster un message
             </div>
         </div>
     {% endif %}

     <div id="Disp">
         <div class="row" style="justify-content: center">
             <div class="col-sm-6 col-md-8 col-lg-8" style="border-top: 2px solid rgba(40,40,40,0.6); padding-top:50px">
                 <ul class="nav-users push">
                     {% for comment in tricks.comments %}
                         <li class="comments">
                             {% if comment.users %}
                                 {% if comment.users.pictures.avatar == '' %}
                                     <img class="img-avatar" src="{{ asset('images/Upload/avatar_defaut.png') }}" alt="">
                                 {% else %}
                                     <img class="img-avatar" src="{{ asset('images/Upload/' ~ comment.users.pictures.avatar ) }}" alt="">
                                 {% endif %}
                                 <p class="d-inline-block" style="font-weight: bold; font-size: 15px; margin-left: 16px"> {{ comment.users.username }} </p>
                             {% endif %}
                             <div class="font-w400 text-muted" style="padding-left: 65px; margin-bottom: 30px; margin-top: -12px ">{{ comment.content }}</div>
                         </li>
                     {% endfor %}
                 </ul>
             </div>
         </div>
     </div>

     <div class="" >
         <button  id="seemore" type="button" class="btn btn-rounded btn-noborder btn-info min-width-125 mb-10" style="display: block; margin: auto">More</button><br>
     </div>

     <div class="modal fade" id="1" tabindex="-1" role="dialog" aria-labelledby="modal-popout" aria-hidden="true">
         <div class="modal-dialog modal-dialog-popout" role="document">
             <div class="modal-content">
                 <div class="block block-themed block-transparent mb-0">
                     <div class="block-content text-center text-danger">
                         <i class="fas fa-exclamation-triangle fa-5x"></i>
                         <h3>Êtes vous sur de vouloir supprimer cette figure ?</h3>
                         <p>Rappel: vous êtes sur un site communataire, attention à vos suppressions</p>
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-alt-primary" data-dismiss="modal">Annuler</button>
                     <button type="button" class="btn btn-alt-danger" href="{{ path('deleteTrick', {'slug' : tricks.slug}  ) }}" data-dismiss="modal">
                         <i class="fa fa-check"></i> Supprimer
                     </button>
                 </div>
             </div>
         </div>
     </div>
     <!-- END Pop Out Modal -->


     <script src="//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.1/mobile-detect.min.js"></script>
     <script src="{{ asset('js/seemore.js') }}"></script>
     <script src="{{ asset('js/moreComments.js') }}"></script>
 {% endblock %}