{% extends 'layout.html.twig' %}

    {% block head %}
        <!-- Page Content -->
        <div class="bg-image" style='background-image: url("{{ asset('img/photos/hero.jpg')}}");'>
            <div class="hero bg-primary-dark-op">
                <div class="hero-inner">
                    <div class="content content-full text-center">
                        <h1 class="display-4 font-w700 text-white mb-10 invisible" data-toggle="appear" data-class="animated fadeInDown">SnowTricks</h1>
                        <h2 class="font-w400 text-white-op mb-50 invisible" data-toggle="appear" data-class="animated fadeInUp" data-timeout="250">A vous de jouer, Ajouter toutes vos tricks</h2>
                    </div>
                </div>
            </div>
            <i id="arrowDown" class="si si-arrow-down-circle"
               style="position: absolute; right: 35px; font-size: 1.8em; color: white; bottom: 30px;"></i>
        </div>
        <!-- END Page Content -->
    {% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="content">
        <div id="Display">
            <div class="row items-push js-gallery">
                {% for tricks in trick %}
                    <div class="col-md-6 col-lg-4 col-xl-4 animated fadeIn trick">
                        <div class="options-container fx-item-zoom-in fx-overlay-slide-down">
                            <img class="img-fluid options-item" src="{{ asset('images/Upload/' ~ attribute(tricks.pictures, 0).name )}}" alt="">
                            <div class="options-overlay bg-black-op-75">
                                <div class="options-overlay-content">
                                    <h2 class="h4 text-white mb-5"><a style="color: white" href="/tricks/{{ tricks.slug }}">{{ tricks.name }}</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- END Advanced Gallery -->
            </div>
        </div>
        <!-- END Page Content -->
    </div>

    <div class="button">
        <button  id="more" type="button" class="btn btn-rounded btn-noborder btn-info min-width-125 mb-10" style="display: block; margin: auto">More</button><br>
    </div>

    <i id="arrowUp" class="si si-arrow-up-circle"
       style="position: fixed; right: 35px; font-size: 1.8em; color: black; bottom: 65px;"></i>

    <script src="{{ asset('js/pagination.js') }}"></script>
    <script src="{{ asset('js/TopDown.js') }}"></script>

{% endblock %}